<a href="https://colab.research.google.com/github/DeshanHarshana/Sinhala-News-Classification/blob/main/Fasttext_with_text_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install fasttext
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/My Drive/datasets/
!ls

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fasttext
  Downloading fasttext-0.9.2.tar.gz (68 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.8/68.8 KB 2.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting pybind11>=2.2
  Using cached pybind11-2.10.3-py3-none-any.whl (222 kB)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from fasttext) (57.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from fasttext) (1.21.6)
Building wheels for collected packages: fasttext
  Building wheel for fasttext (setup.py) ... done
  Created wheel for fasttext: filename=fasttext-0.9.2-cp38-cp38-linux_x86_64.whl size=3137931 sha256=5ae96e2f7ef09c28007ffa5774a71f7ff4a44ffcf40ac80c6d0449055d233739
  Stored in directory: /root/.cache/pip/wheels/93/61/2a/c54711a91c418ba06ba195b1d78ff24fcaad8592f2a694ac94
Successfully built fasttext
Installing collected packages: pybind11, fasttext
Successfully installed fasttext-0.9.2 pybind11-2.10.3
Mounted at /content/drive
/content/drive/My Drive/datasets
beautfulsoup.py  cleaned_data.csv  file_name.csv       stopwords.txt
cc.si.300.bin	 data.csv	   file.txt	       sufix_list.txt
cc.si.300.vec	 DataScience	   stem_dictonary.txt

In [ ]:
import pandas as pd

df= pd.read_csv("cleaned_data.csv", names=["News", "Label"], header=None)
print(df.shape)
df.head(3)

(32296, 2)

                                       News  Label
0                                      News  Label
1         දකුණු අප්රිකා ඉන්දියා දෙවන තරඟ අද      1
2  මල්ෂා ෂෙහානි වාර්තාව සමගි ලංකා ජය ගෙනෙයි      1

In [ ]:
df.drop(index=df.index[0], axis=0, inplace=True)

In [ ]:
df.head(3)

                                       News Label
1         දකුණු අප්රිකා ඉන්දියා දෙවන තරඟ අද     1
2  මල්ෂා ෂෙහානි වාර්තාව සමගි ලංකා ජය ගෙනෙයි     1
3            ලංකා කාන්තා පිල මැලේසියා පරදයි     1

In [ ]:
df['category'] = '__label__' + df['Label'].astype(str)
df.head(5)

                                        News Label    category
1          දකුණු අප්රිකා ඉන්දියා දෙවන තරඟ අද     1  __label__1
2   මල්ෂා ෂෙහානි වාර්තාව සමගි ලංකා ජය ගෙනෙයි     1  __label__1
3             ලංකා කාන්තා පිල මැලේසියා පරදයි     1  __label__1
4            සමස්ත ලංකා පාසල් ක්රීඩා තරග යළි     1  __label__1
5  ලංකා කාන්තා ක්රිකට් කණ්ඩාය තායිලන්ත පරදයි     1  __label__1

In [ ]:
df['category_description'] = df['category'] + ' ' + df['News']
df.head(3)

,News,Label,category,category_description
1,දකුණු අප්රිකා ඉන්දියා දෙවන තරඟ අද,1,__label__1,__label__1 දකුණු අප්රිකා ඉන්දියා දෙවන තරඟ අද
2,මල්ෂා ෂෙහානි වාර්තාව සමගි ලංකා ජය ගෙනෙයි,1,__label__1,__label__1 මල්ෂා ෂෙහානි වාර්තාව සමගි ලංකා ජය ග...
3,ලංකා කාන්තා පිල මැලේසියා පරදයි,1,__label__1,__label__1 ලංකා කාන්තා පිල මැලේසියා පරදයි

In [ ]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2)

In [ ]:
train.shape, test.shape

((25836, 4), (6459, 4))

In [ ]:
train.to_csv("news.train", columns=["category_description"], index=False, header=False)
test.to_csv("news.test", columns=["category_description"], index=False, header=False)

In [ ]:
import fasttext

model = fasttext.train_supervised('news.train')

In [ ]:
model.test('news.test')

(6459, 0.8793930949063322, 0.8793930949063322)

In [ ]:
model.predict("ජයග්‍රහනය බංග්ලාදේශයට")

(('__label__1',), array([0.84101957]))

In [ ]:
model.save_model('fasttext_trained model.bin')